{
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "standard",
    "plugins": [
        "html"
    ],
    "env": {
        "browser": true
    }
}